extends layout

block content
  main.p-5
    if error
      .toast-wrapper(style="position: absolute; top: 60px; right: 20px;")
        .toast.toast-error.fade.show(role="alert" aria-live="assertive" aria-atomic="true")
          .toast-header
            strong.me-auto Login process went wrong
            button(type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close")
          .toast-body.text-danger=error
    h1.visually-hidden Registration page
    .container
      .row.justify-content-center
        .col-6
          section.card.p-4
            h2.text-center Registration form
            form(action="/api/auth/sign-up" method="POST")
              div.mb-3
                label.form-label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="email@domain.com" required)
              div.mb-3
                label.form-label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder='sTr0nGP/\\$$worD' required)
              div.mb-4
                label.form-label(for="passwordConfirmation") Password confirmation
                input#passwordConfirmation.form-control(type="password" name="passwordConfirmation" placeholder='sTr0nGP/\\$$worD' required)
              div.d-grid.gap-2
                button.btn.btn-primary(type='submit') Register
                p.text-center Already have an account? <a href='/login'>Sign in</a>
